# 2020 Data

## ðŸ“š <span style="color:green">Importing libraries and dataset</span>

In [53]:
import pandas as pd
import numpy as np

# to bypass warnings
import warnings
warnings.filterwarnings('ignore')

In [54]:
file_path = "/home/dcti-02-11/projects/data/NYC_Taxi_Trips/data/2020_taxi_trips.csv"

trips_2020 = pd.read_csv(file_path)

In [ ]:
# get value counts of all columns
for col in trips_2020.columns:
    print(col)

In [55]:
# get structure of the data
trips_2020.shape

(1734051, 19)

In [57]:
trips_2020.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-01-01 06:47:28.000,2020-01-01 06:52:54.000,N,1.0,74,75,1.0,1.47,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2.0,1.0,0.0
1,2.0,2020-01-01 13:25:34.000,2020-01-01 13:30:43.000,N,1.0,74,75,1.0,1.49,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2.0,1.0,0.0
2,2.0,2020-01-01 14:20:35.000,2020-01-01 14:26:25.000,N,1.0,74,75,1.0,1.31,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2.0,1.0,0.0
3,2.0,2020-01-02 06:56:47.000,2020-01-02 07:03:03.000,N,1.0,74,75,1.0,1.43,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2.0,1.0,0.0
4,2.0,2020-01-02 09:34:46.000,2020-01-02 09:41:02.000,N,1.0,74,75,1.0,1.10,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2.0,1.0,0.0

In [ ]:
# get information about the data
trips_2020.info()

In [ ]:
# get percentage of missing data
# trips_2020.isna().sum()
trips_2020.isna().mean() * 100

In [60]:
trips_2020 = trips_2020.dropna()

## get data types of all columns
trips_2020.dtypes

In [62]:
# get value counts of all columns
for col in trips_2020.columns:
    print('-' * 30 + col + '-' * 30 , end=' - ')
    # print(trips_2020['x'].value_counts())
    display(trips_2020[col].value_counts().head(10))

------------------------------VendorID------------------------------ -

2.0    1000743
1.0     205211
Name: VendorID, dtype: int64

------------------------------lpep_pickup_datetime------------------------------ -

2020-02-14 17:02:13.000    6
2020-03-09 18:23:45.000    5
2020-01-10 18:17:59.000    5
2020-02-07 20:57:13.000    5
2020-02-13 10:56:20.000    5
2020-02-03 09:55:01.000    5
2020-03-07 17:55:45.000    5
2020-02-12 07:59:32.000    5
2020-02-13 18:19:08.000    5
2020-02-20 19:38:45.000    5
Name: lpep_pickup_datetime, dtype: int64

------------------------------lpep_dropoff_datetime------------------------------ -

2020-01-03 00:00:00.000    22
2020-02-18 00:00:00.000    21
2020-01-18 00:00:00.000    20
2020-01-15 00:00:00.000    19
2020-01-12 00:00:00.000    19
2020-03-08 00:00:00.000    19
2020-01-29 00:00:00.000    18
2020-01-20 00:00:00.000    18
2020-01-31 00:00:00.000    17
2020-02-04 00:00:00.000    17
Name: lpep_dropoff_datetime, dtype: int64

------------------------------store_and_fwd_flag------------------------------ -

N    1201259
Y       4695
Name: store_and_fwd_flag, dtype: int64

------------------------------RatecodeID------------------------------ -

1.0     1168389
5.0       33853
2.0        2185
4.0         954
3.0         558
6.0          12
99.0          3
Name: RatecodeID, dtype: int64

------------------------------PULocationID------------------------------ -

74     136234
75     117278
41      92285
42      57306
166     53610
82      47361
244     43279
7       42930
95      42889
97      40888
Name: PULocationID, dtype: int64

------------------------------DOLocationID------------------------------ -

74     63795
42     57923
41     50978
75     50111
166    30731
129    26301
7      25373
236    25204
238    24761
116    21359
Name: DOLocationID, dtype: int64

------------------------------passenger_count------------------------------ -

1.0    1048934
2.0      81506
5.0      30527
6.0      20440
3.0      15765
4.0       5477
0.0       3193
8.0         57
7.0         44
9.0         11
Name: passenger_count, dtype: int64

------------------------------trip_distance------------------------------ -

0.0    59264
0.9    11506
1.0    11184
0.8    10774
1.2    10725
1.1    10651
1.3    10225
1.4    10006
0.7     9764
1.5     8638
Name: trip_distance, dtype: int64

------------------------------fare_amount------------------------------ -

6.0    61751
6.5    59074
7.0    58262
5.5    57201
5.0    53523
7.5    51842
8.0    51594
8.5    44942
9.0    42764
4.5    42036
Name: fare_amount, dtype: int64

------------------------------extra------------------------------ -

 0.00    674538
 0.50    258585
 1.00    238509
 2.75     18248
 3.75      7284
 3.25      6243
-0.50      1080
-1.00       770
 4.50       385
 2.50       247
Name: extra, dtype: int64

------------------------------mta_tax------------------------------ -

 0.50    1166506
 0.00      35461
-0.50       3977
 3.55          9
 1.00          1
Name: mta_tax, dtype: int64

------------------------------tip_amount------------------------------ -

0.00    670803
1.00     39484
2.00     29758
2.75     23910
3.00     11913
1.46     10235
1.66     10132
1.56     10115
1.36      9738
1.26      8784
Name: tip_amount, dtype: int64

------------------------------tolls_amount------------------------------ -

0.00     1169249
6.12       31112
2.80        1784
12.24       1427
2.29        1040
13.75        310
11.75        296
8.41         102
5.76          65
18.36         61
Name: tolls_amount, dtype: int64

------------------------------improvement_surcharge------------------------------ -

 0.3    1192008
 0.0       9768
-0.3       4178
Name: improvement_surcharge, dtype: int64

------------------------------total_amount------------------------------ -

7.3     35574
7.8     35511
6.8     34930
8.3     34162
6.3     31649
8.8     30630
9.3     27639
5.8     27624
9.8     26019
10.3    24283
Name: total_amount, dtype: int64

------------------------------payment_type------------------------------ -

1.0    663443
2.0    532683
3.0      7569
4.0      2208
5.0        51
Name: payment_type, dtype: int64

------------------------------trip_type------------------------------ -

1.0    1174243
2.0      31711
Name: trip_type, dtype: int64

------------------------------congestion_surcharge------------------------------ -

 0.00    993521
 2.75    211706
 2.50       709
-2.75        11
 0.75         7
Name: congestion_surcharge, dtype: int64

In [ ]:
colums_to_convert = ['VendorID','passenger_count','RatecodeID'.'payment_type','trip_type','store_and_fwd_flag']

In [ ]:
# change from object to date_time
trips_2020['lpep_pickup_datetime'] = pd.to_datetime(trips_2020['lpep_pickup_datetime'])
trips_2020['lpep_dropoff_datetime'] = pd.to_datetime(trips_2020['lpep_dropoff_datetime'])

In [ ]:
## working with time
trips_2020['time_diff'] = trips_2020['lpep_dropoff_datetime'] - trips_2020['lpep_pickup_datetime']

In [ ]:
print(trips_2020['time_diff'].max())

In [ ]:
print(trips_2020['time_diff'].min())

In [ ]:
max_row = trips_2020.loc[trips_2020['time_diff'].idxmax()]
print(max_row)

In [ ]:
min_row = trips_2020.loc[trips_2020['time_diff'].idxmin()]
print(min_row)

In [ ]:
trips_2020['pickup_date'] = trips_2020['lpep_pickup_datetime'].dt.date
trips_2020['dropoff_date'] = trips_2020['lpep_dropoff_datetime'].dt.date

In [ ]:
# change from object to date_time
trips_2020['pickup_date'] = pd.to_datetime(trips_2020['pickup_date'])
trips_2020['dropoff_date'] = pd.to_datetime(trips_2020['dropoff_date'])

In [ ]:
trips_2020['day_diff'] = trips_2020.dropoff_date - trips_2020.pickup_date

In [ ]:
# filtered = trips_2020.loc[trips_2020['day_diff'] < pd.Timedelta(0)].sum()

In [ ]:
filtered2 = (trips_2020['day_diff'] < pd.Timedelta(0)).sum()

In [ ]:
print(filtered2)

Outliers

In [ ]:
pickup_iqr = trips_2020['lpep_pickup_datetime'].quantile(0.75) - trips_2020['lpep_pickup_datetime'].quantile(0.25)
dropoff_iqr = trips_2020['lpep_dropoff_datetime'].quantile(0.75) - trips_2020['lpep_dropoff_datetime'].quantile(0.25)

pickup_iqr = df['pickup_time'].quantile(0.75) - df['pickup_time'].quantile(0.25)
dropoff_iqr = df['dropoff_time'].quantile(0.75) - df['dropoff_time'].quantile(0.25)

In [ ]:
print("Pickup Outliers:")
print(pickup_iqr)

print("\nDropoff Outliers:")
print(dropoff_iqr)

In [ ]:
trips_2020.info()

In [ ]:
trips_2020.trip_distance.min()

In [ ]:
trips_2020.trip_distance.max()

In [ ]:
count_negative = (trips_2020['trip_distance'] < 1).sum()

In [ ]:
print(count_negative)

In [ ]:
count_positive = (trips_2020['trip_distance'] > 100000).sum()
print(count_positive)

In [ ]:
trips_2020.shape

In [ ]:
print(trips_2020.total_amount.max())
print(trips_2020.total_amount.min())

In [ ]:
count_negative = (trips_2020['total_amount'] < 5).sum()
print(count_negative)

In [ ]:
count_negative = (trips_2020['total_amount'] < 30).sum()
print(count_negative)

In [ ]:
trips_2020.head()

In [ ]:
trips_2020.info()

In [ ]:
trips_2020['pickup_day'] = trips_2020['pickup_date'].dt.day_name()

In [ ]:
trips_2020['dropoff_day'] = trips_2020['dropoff_date'].dt.day_name()

In [ ]:
trips_2020['pickup_month'] = trips_2020['pickup_date'].dt.month

In [63]:
trips_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1205954 entries, 0 to 1730575
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1205954 non-null  float64
 1   lpep_pickup_datetime   1205954 non-null  object
 2   lpep_dropoff_datetime  1205954 non-null  object
 3   store_and_fwd_flag     1205954 non-null  object
 4   RatecodeID             1205954 non-null  float64
 5   PULocationID           1205954 non-null  int64
 6   DOLocationID           1205954 non-null  int64
 7   passenger_count        1205954 non-null  float64
 8   trip_distance          1205954 non-null  float64
 9   fare_amount            1205954 non-null  float64
 10  extra                  1205954 non-null  float64
 11  mta_tax                1205954 non-null  float64
 12  tip_amount             1205954 non-null  float64
 13  tolls_amount           1205954 non-null  float64
 14  improvement_surcharge  1205954 non-null  float64
 15  total_amount           1205954 non-null  float64
 16  payment_type           1205954 non-null  float64
 17  trip_type              1205954 non-null  float64
 18  congestion_surcharge   1205954 non-null  float64
dtypes: float64(14), int64(2), object(3)
memory usage: 184.0+ MB

In [ ]:
trips_2020.head()

In [ ]:
trips_2020.groupby(['pickup_month']).sum()

In [ ]:
trips_2020.groupby(['pickup_day'])['passenger_count'].count()