# 2020 Data

In [8]:
import pandas as pd
import numpy as np

# to bypass warnings
import warnings
warnings.filterwarnings('ignore')

In [9]:
file_path = "/home/dcti-02-11/projects/data/NYC_Taxi_Trips/data/2020_taxi_trips.csv"

trips_2020 = pd.read_csv(file_path)

/tmp/ipykernel_86258/3897956279.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  trips_2020 = pd.read_csv(file_path)

In [10]:
trips_2020.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-01-01 06:47:28.000,2020-01-01 06:52:54.000,N,1.0,74,75,1.0,1.47,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2.0,1.0,0.0
1,2.0,2020-01-01 13:25:34.000,2020-01-01 13:30:43.000,N,1.0,74,75,1.0,1.49,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2.0,1.0,0.0
2,2.0,2020-01-01 14:20:35.000,2020-01-01 14:26:25.000,N,1.0,74,75,1.0,1.31,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2.0,1.0,0.0
3,2.0,2020-01-02 06:56:47.000,2020-01-02 07:03:03.000,N,1.0,74,75,1.0,1.43,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2.0,1.0,0.0
4,2.0,2020-01-02 09:34:46.000,2020-01-02 09:41:02.000,N,1.0,74,75,1.0,1.10,6.5,0.0,0.5,0.0,0.0,0.3,7.3,2.0,1.0,0.0

In [4]:
# get information about the data
trips_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1734051 entries, 0 to 1734050
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   lpep_pickup_datetime   object
 2   lpep_dropoff_datetime  object
 3   store_and_fwd_flag     object
 4   RatecodeID             float64
 5   PULocationID           int64
 6   DOLocationID           int64
 7   passenger_count        float64
 8   trip_distance          float64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  payment_type           float64
 17  trip_type              float64
 18  congestion_surcharge   float64
dtypes: float64(14), int64(2), object(3)
memory usage: 251.4+ MB

In [ ]:
# get percentage of missing data
# trips_2020.isna().sum()
trips_2020.isna().mean() * 100

# get data types of all columns
trips_2020.dtypes

In [ ]:
# get value counts of all columns
for col in trips_2020.columns:
    print('-' * 40 + col + '-' * 40 , end=' - ')
    # print(trips_2020['x'].value_counts())
    display(trips_2020[col].value_counts().head(10))

In [12]:
# change from object to date_time
trips_2020['lpep_pickup_datetime'] = pd.to_datetime(trips_2020['lpep_pickup_datetime'])
trips_2020['lpep_dropoff_datetime'] = pd.to_datetime(trips_2020['lpep_dropoff_datetime'])

In [ ]:
trips_2020.info()

In [15]:
## working with time
trips_2020['time_diff'] = trips_2020['lpep_dropoff_datetime'] - trips_2020['lpep_pickup_datetime']

In [16]:
trips_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1734051 entries, 0 to 1734050
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   lpep_pickup_datetime   datetime64[ns]
 2   lpep_dropoff_datetime  datetime64[ns]
 3   store_and_fwd_flag     object
 4   RatecodeID             float64
 5   PULocationID           int64
 6   DOLocationID           int64
 7   passenger_count        float64
 8   trip_distance          float64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  payment_type           float64
 17  trip_type              float64
 18  congestion_surcharge   float64
 19  time_diff              timedelta64[ns]
dtypes: datetime64[ns](2), float64(14), int64(2), object(1), timedelta64[ns](1)
memory usage: 264.6+ MB

In [18]:
trips_2020.tail()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,time_diff
1734046,NaN,2020-08-18 02:26:00,2020-08-18 02:52:00,NaN,NaN,117,76,NaN,10.64,46.61,0.0,0.0,0.0,2.29,0.3,49.2,NaN,NaN,NaN,0 days 00:26:00
1734047,NaN,2020-08-18 03:02:00,2020-08-18 03:43:00,NaN,NaN,117,232,NaN,24.39,93.41,0.0,0.0,0.0,2.29,0.3,96.0,NaN,NaN,NaN,0 days 00:41:00
1734048,NaN,2020-08-25 03:16:00,2020-08-25 03:54:00,NaN,NaN,117,232,NaN,24.65,93.41,0.0,0.0,0.0,2.29,0.3,96.0,NaN,NaN,NaN,0 days 00:38:00
1734049,NaN,2020-08-30 02:48:00,2020-08-30 03:40:00,NaN,NaN,117,232,NaN,20.26,93.41,0.0,0.0,0.0,2.29,0.3,96.0,NaN,NaN,NaN,0 days 00:52:00
1734050,NaN,2020-08-04 04:37:00,2020-08-04 05:11:00,NaN,NaN,117,138,NaN,19.32,65.51,0.0,0.0,0.0,2.29,0.3,68.1,NaN,NaN,NaN,0 days 00:34:00

In [19]:
print(trips_2020['time_diff'].max())

1 days 01:11:24

In [20]:
print(trips_2020['time_diff'].min())

-366 days +18:18:49

In [23]:
max_row = trips_2020.loc[trips_2020['time_diff'].idxmax()]
print(max_row)

VendorID                                 2.0
lpep_pickup_datetime     2020-10-28 13:10:46
lpep_dropoff_datetime    2020-10-29 14:22:10
store_and_fwd_flag                         N
RatecodeID                              99.0
PULocationID                             264
DOLocationID                             193
passenger_count                          1.0
trip_distance                            0.0
fare_amount                              2.5
extra                                    0.8
mta_tax                                  0.5
tip_amount                               0.0
tolls_amount                             0.0
improvement_surcharge                    0.0
total_amount                             3.8
payment_type                             2.0
trip_type                                1.0
congestion_surcharge                     0.0
time_diff                    1 days 01:11:24
Name: 885929, dtype: object

In [22]:
min_row = trips_2020.loc[trips_2020['time_diff'].idxmin()]
print(min_row)

VendorID                                 1.0
lpep_pickup_datetime     2020-11-16 19:42:05
lpep_dropoff_datetime    2019-11-17 14:00:54
store_and_fwd_flag                         N
RatecodeID                               1.0
PULocationID                              82
DOLocationID                              82
passenger_count                          1.0
trip_distance                            1.4
fare_amount                             10.0
extra                                    0.0
mta_tax                                  0.5
tip_amount                               0.0
tolls_amount                             0.0
improvement_surcharge                    0.3
total_amount                            10.8
payment_type                             2.0
trip_type                                1.0
congestion_surcharge                     0.0
time_diff                -366 days +18:18:49
Name: 203714, dtype: object